{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<br>
<br>    
<div class="form-group">
<h2>Login Form</h2>
<br>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Login">
    </form>
    <div style="display:flex;justify-content:space-between;">
        <p>Don’t have an Account? <a href="{% url 'register' %}">Sign Up</a></p>
        <p><a href="{% url 'reset_password' %}">Forgot password?</a></p>
    </div>
</div>    
{% endblock %}