{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<br>
<br>
<div class="form-group">
<h2>Registration Form</h2>
<br>
    <form method="POST">
        {% csrf_token %}
        
        {% for field in form %}
        <label>{{field.label}}</label>
        {{field}}
        

        {% for error in field.errors %}
        <p style="color:red;">{{error}}</p>
        {% endfor %}

        {% endfor %}
        <input type="submit" value="Register">
    </form>
    <div class="">
        <p>Already have an Account?
            <a style="color:blue" href="{% url 'login' %}">Sign In</a>
        </p>
    </div>
</div>    
<br>
<br>

{% endblock %}