{% if is_paginated %}
<div class="pagination">
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}" class="prev">&laquo; Prev</a>
{% endif %}
<small style="font-size: 16px;
padding: 8px 16px;
border-radius: 5px;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</small>   
<!-- <a href="#" class="active">1</a>
<a href="#">2</a>
<a href="#">3</a>
<a href="#">4</a>
<a href="#">5</a> -->
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}" class="next">Next &raquo;</a>
{% endif %}
</div>  
{% endif %}
<br>
<br>